body{
    background-color: azure;
}
div{
    background-color: ;
    text-align: center;
    height: 300px;
    width:700px;
    position: 100vh;
    margin: 100px ;
    margin-left: 400px;
    
}
h1{
    margin-bottom: 30px;
}
h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: medium;
    color:darkgrey;
    

}
p{
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    color:#6fad78;
}
button{
    margin-top: 15px;
}